/* Aplicando reglas universales*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del sitio*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f2f5;
    color: #333
}
/* Estilos de la cabecera*/
header{
    background-color: #4caf;
    padding: 20px;
    text-align: center;
}
/* Estilos del logo*/
.logo{
    width:100px;
}
/* Estilos del navegador*/
nav.ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* Estilos de los items de la lista*/
nav ul li{
    margin: 0 15 px; 
}   
/*Estilos a los enlaces*/
nav ul lia{
    color: white;
    text-decoration: none;
    font-weight: bold;
} 
nav ul li a:hover{
    text-decoration: underline;
}
/* Estilos del 치rea principal*/
main{
    padding: 30px;
    text-align: center;
}
/*Estilos a la secci칩n*/
section{
    margin-bottom: 40px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,1);
}
/*Pie de p치gina*/
footer{
    background-color: #333;
    color: #eee;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
/*Estilo de imagenes*/
img{
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
}
/*Estilos de las tarjetas de servicios*/
.tarjetas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}
/*Estilos a cada tarjeta*/
.tarjeta{
    background-color: #bcf3d5;
    padding: 20px;
    border: 2px solid rgb(46, 69, 63);
    border-radius: 10px;
    width: 30%;
    margin: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,1);
}
/*Dise침o responsivo*/
@media(max-width: 768){
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        margin: 10px 0;
    }
    tarjetas{
        flex-direction: column;
        align-items: center;
    }
    
    .tarjeta{
        width: 80%;
    }
}
